body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-body);
  transition: background-color 0.3s, color 0.3s;
  background-image: url(/src/images/main/white-theme-bg-main.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--color-text-primary);
  color: var(--color-text-secondary);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
    background-color: var(--color-hover);
  }
}
