// сolor
:root {
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;
  --color-text-tretiary: #039900;
  --color-text-input: #7e7e7e;
  --color-background-input: #d7d7d7;
  --color-text-wrong: #990000;
  --color-background-football: #5abb58;
  --color-background-photo-frame: #d9d9d9;
  --color-hover: #2d2d2d;
  --color-navigation-hover: #f1f1f1;
  --color-background-switch: #7a7a7a;
}
html[data-theme='dark'] {
  color-scheme: dark;
  --color-text-primary: #58a6a2;
  --color-text-secondary: #262628;
  --color-hover: #7c60c9;
  --color-navigation-hover: #9dd8d5;
}
// fonts
$FontFamilyPrimary: 'Montserrat Alternates', sans-serif;
$FontFamilySeconary: 'Inter', sans-serif;
$FontFamilyTretiary: 'Sacramento', sans-serif;
