<!-- <section class="calculator">
  <div class="container">
    <h2 class="calculator__titel">Калькулятор</h2>
    <div class="calculator__container">
      <input
        class="claculator__input"
        type="text"
        placeholder="Введіть число"
      />
      <div class="calculator__buttons">
        <button class="calculator__button">+</button>
        <button class="calculator__button">*</button>
        <button class="calculator__button">-</button>
        <button class="calculator__button">/</button>
      </div>
      <input
        class="claculator__input"
        type="text"
        placeholder="Введіть число"
      />
      <button class="result__button">=</button>
      <input class="result__input" type="text" placeholder="Результат" />
    </div>
  </div>
</section> -->
