<footer class="footer">
  <div class="container footer__container">
    <a href="#" class="footer__logo">
      <img
        src="./images/header/header-logo.svg"
        alt="Footer Logo"
        class="logo__photo"
      />
    </a>
    <ul class="footer__info">
      <li class="info__list">
        <a href="#" class="info__link">Тел: +38 (123) 456 78 90</a>
      </li>
      <li class="info__list">
        <a href="#" class="info__link">E-Mail: codingmagic@gmail.com</a>
      </li>
      <li class="info__list">
        <a href="#" class="info__link">Facebook: CodingMagic</a>
      </li>
      <li class="info__list">
        <a href="#" class="info__link">Twitter: CodingMagic</a>
      </li>
      <li class="info__list">
        <a href="#" class="info__link">Instagram: CodingMagic</a>
      </li>
    </ul>
    <div class="subscribe__container">
      <input
        type="text"
        class="subscribe__input"
        placeholder="Ваша ел. адреса..."
      />
      <button class="subscribe__button">Підписатись</button>
      <p class="subscribe__text">
        *Підписавшись, Ви зможете отримувати інформацію про новинки на сайті
      </p>
    </div>
  </div>
</footer>
<div class="footer__backdrob footer__hidden" id="thankYouModal">
  <div class="modal">
    <div class="modal__content">
      <span class="modal__close" id="closeModal"></span>
      <p class="footer__modal-text">Дякую за підписку!</p>
      <img
        src="./images/main/game/puzzle.svg"
        alt="puzzle"
        class="modal__icons"
      />
      <img
        src="./images/main/game/tic-tac-toe.svg"
        alt="puzzle"
        class="modal__icons--secound"
      />
    </div>
  </div>
</div>
