<header class="header">
  <div class="container header-container">
    <div class="logo"></div>
    <div class="nav-container">
      <div class="select" data-filter>
        <p class="nav-text">Інтерактив</p>
        <ul class="select-list">
          <li class="select-item">
            <button class="select-button" data-numbers="numbers">
              Числовий
            </button>
          </li>
          <li class="select-item">
            <button class="select-button" data-game="game">Ігровий</button>
          </li>
          <li class="select-item">
            <button class="select-button" data-introductory="introductory">
              Ознайомчий
            </button>
          </li>
        </ul>
      </div>

      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#">Наша команда</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Контакти</a></li>
      </ul>
    </div>

    <label class="theme-switch">
      <input type="checkbox" class="input" data-theme />
      <span class="slider"></span>
    </label>
  </div>
  <div>
    <p class="hellow" data-hellow="hellow"></p>
  </div>
</header>
