<header class="header">
  <div class="container header-container">
    <a href="#" class="header__logo"
      ><img src="./images/header/header-logo.svg" alt="Лого" class="logo-img"
    /></a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <p class="nav-text">Інтерактив</p>
          <ul class="filter__list">
            <li class="filter__item">
              <button class="filter__button"  data-filter="numerical">
                Числовий
              </button>
            </li>
            <li class="filter__item">
              <button class="filter__button"  data-filter="game">
                Ігровий
              </button>
            </li>
            <li class="filter__item">
              <button class="filter__button"  data-filter="acquaintance">
                Ознайомчий
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Наша команда</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Контакти</a></li>
      </ul>
    </nav>
    <div class="header__actions">
      <label class="theme-swiper">
        <input type="checkbox" class="input" data-theme-swiper />
        <span class="slider"></span>
      </label>
      <p class="hellow" data-hellow>Вітаю, <span>User</span></p>
    </div>
  </div>
</header>
