<div class="backdrop hidden">
  <div class="login-modal">
    <button class="login-form-clos"></button>

    <div class="login-content">
      <p class="login-text">
        Привіт! Ви потрапили на сайт інтерактивних ігор та завдань Сподіваємось,
        що вам сподобається і ви отримаєте позитивні емоції! Бажаємо Вам гарно
        провести час!
      </p>
      <form class="login-form">
        <label class="login-name">Введіть своє ім’я:</label>
        <input
          class="login-input"
          type="text"
          id="name"
          placeholder="Ваше ім’я…"
        />
        <button class="login-save-btn" type="submit">Зберегти</button>
      </form>
    </div>
  </div>
</div>
