<form class="login-form">
  <button class="close-btn">×</button>

  <div class="login-icons">
    <img src="icon1.svg" alt="icon" />
    <img src="icon2.svg" alt="icon" />
  </div>

  <div class="login-content">
    <p class="login-text">
      Привіт! Ви потрапили на сайт інтерактивних ігор та завдань Сподіваємось,
      що вам сподобається і ви отримаєте позитивні емоції! Бажаємо Вам гарно
      провести час!
    </p>

    <label for="name">Введіть своє ім’я:</label>
    <input type="text" id="name" placeholder="Ваше ім’я…" />
    <button class="login-save-btn">Зберегти</button>
  </div>

  <div class="login-icons">
    <img src="icon3.svg" alt="icon" />
    <img src="icon4.svg" alt="icon" />
  </div>
</form>
