.calculator {
  padding-top: 36px;
  padding-bottom: 36px;
  border-top: 1px solid var(--colorTextPrimary);
  border-bottom: 1px solid var(--colorTextPrimary);
}
.calculator__titel {
  font-size: 16px;
  color: var(--colorTextPrimary);
  text-align: center;
  margin-bottom: 36px;
}
.claculator__input,
.result__input {
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  background: var(--color-background-input);
  max-width: 135px;
  height: 35px;
}
.calculator__button,
.result__button {
  color: var(--color-text-secondary);
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  background-color: var(--color-text-primary);
  width: 27px;
  height: 25px;
}
.calculator__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.calculator__buttons {
  max-width: 72px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}
.calculator__button:active {
  transform: scale(0.9);
  background-color: #797979;
  transition: transform 0.1s;
}
.result__button:active {
  transform: scale(0.9);
  background-color: #797979;
  transition: transform 0.1s;
}
.claculator__input:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}
.result__input:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}
