.year-calculator-title {
  font-size: 16px;
  text-align: center;
}
.year-calculator-input {
  border-radius: 20px;
  padding: 10px 45px 10px 10px;
  max-width: 215px;
  height: 35px;
  background-color: var(--color-background-input);
}
